<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
      }
      .pdf-container {
        padding: 10px;
      }
      .header-container {
        display: block;
        border-bottom: 1px solid #dedee0;
        padding-bottom: 10px;
      }
      .header-item-img {
        display: inline-block;
        width: 13%;
        /* border: 1px solid black; */
      }
      p {
        font-size: 10px;
      }
      table {
        width: 100%;
      }
      table,
      th,
      td {
        font-size: 8px;
        border: 1px solid #dedee0;
        border-collapse: collapse;
      }
      th {
        font-weight: 600;
        text-align: left;
      }
      th,
      td {
        padding: 6px 5px;
      }
    </style>
  </head>
  <body>
    <div class="pdf-container">
      <div class="header-container">
        <div class="header-item-img">
          <img
            src="http://saurbhi.dev.innvonixtech.com/wp-content/uploads/2020/10/Saurbhi_logo.png"
            alt="saurbhi"
            height="70"
            width="80"
            class="pdf-font"
          />
        </div>
        <div class="header-item-img">
          <img
            src="http://saurbhi.dev.innvonixtech.com/wp-content/uploads/2020/10/saurbhi-real-choice.png"
            alt="saurbhi"
            height="70"
            width="80"
            class="pdf-font"
          />
        </div>
        <div class="header-item-img">
          <img
            src="http://saurbhi.dev.innvonixtech.com/wp-content/uploads/2020/10/saurbhi-chatzpataz.png"
            alt="saurbhi"
            height="70"
            width="80"
            class="pdf-font"
          />
        </div>
        <div class="header-item-img">
          <img
            src="http://saurbhi.dev.innvonixtech.com/wp-content/uploads/2020/10/saurbhi-swad-panjab-da.png"
            alt="saurbhi"
            height="70"
            width="80"
            class="pdf-font"
          />
        </div>
      </div>

      <div style="margin-top: 20px">
        <p><b>Date:</b> <span> 25-10-2021</span></p>
        <p><b>BankName: </b> <span> ABCDEF Bank</span></p>
        <p><b>Account Name: </b> <span> ABC BANK AHMDABAD</span></p>
        <p><b>BSB Number: </b> <span> 654321</span></p>
        <p><b>Account Number: </b> <span> 987654321</span></p>
        <p><b>Deposit Transaction Number: </b> <span> D102120</span></p>
        <p><b>Total cheques: </b> <span> 1</span></p>
        <p><b>Total Amount: </b> <span> 25663</span></p>
      </div>

      <table style="margin-top: 20px;">
        <tr>
          <th>#</th>
          <th>BSB No.</th>
          <th>Unique Sr.</th>
          <th>Customer Name</th>
          <th>MyobCR No.</th>
          <th>ChequeDate</th>
          <th>Cheque No</th>
          <th>Cheque Amt($)</th>
        </tr>
        <tr>
          <td>1</td>
          <td>555669</td>
          <td>CH21-298-001</td>
          <td>Anjali traders Anjali enterprises</td>
          <td>1223</td>
          <td>25-10-2021</td>
          <td>58778</td>
          <td>25663</td>
        </tr>
        <tr>
            <td colspan="7" style="text-align: right;"><b>Total($):</b></td>
            <td><b>25663</b></td>
        </tr>
      </table>
    </div>
  </body>
</html>
