<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
      }

      .img-container {
        text-align: end;
      }
      .img-container img {
        height: 80px;
        width: 100px;
        border: 1px solid grey;
      }
      .container {
        padding: 0 50px;
      }
      p {
        font-size: 12px;
      }
      .font-bold {
        font-weight: bold;
      }
      .section-spacer {
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="img-container">
        <img src="../public/images/Logo.png" alt="logo image" />
      </div>
      <div>
        <h3 style="text-align: center">Session 1</h3>
        <p>
          <span class="font-bold">Name:</span>
          <span>Anjali</span>
        </p>

        <p class="section-spacer">
          <span class="font-bold">MORNING :</span> <span>10.00</span>
        </p>

        <p style="margin-top: 10px">
          1 glass warm water + 1 tsp corriander seeds - soak at night - warm in
          morning - strain it and drink water
        </p>

        <p class="section-spacer">
          <span class="font-bold">BREAKFAST :</span> <span>11.00</span>
        </p>

        <p style="margin-top: 10px">
          Amla + palak + dudhi + beetroot + carrot + curry leaves - juice - mix
          all ingredients in blender add 1 glass water churn it well - starin it
        </p>

        <p class="section-spacer">
          <span class="font-bold">LUNCH :</span> <span>12.30</span>
        </p>

        <p style="margin-top: 10px">
          Salad – 1bowl + roti 1-2 + veg – 1bowl + dal- bowl ( For roti : jao-
          1/2 cup + wheat - 1/2 cup + flax seed - 2 spoon - can make the flour
          with this proportion and use it every day )
        </p>
        <p>Or</p>
        <p>Brown rice pulao + curd raita</p>
        <p>Or</p>
        <p>Qunia bean salad - 1bowl</p>
        <p>
          Green capsicum + red bell pepper + yellow bell pepper + tomato +
          onions + boiled sweet corn
        </p>
        <p>
          For dressing: lemon juice + olive oil + oregano + salt + jeera powder
        </p>
        <p>
          Take boiled rajma beans + all the veggies + sweet corn + cooked quinoa
          + dressing – mix every ingredient well + add corriender leaves + blck
          pepper
        </p>

        <p class="section-spacer font-bold">AFTERNOON :</p>

        <p>Hummus -2 spoon + carrot sticks</p>
        <p>Or</p>
        <p>Chana jor - 1 bowl with cucumber + tomato + onion + lemon</p>
        <p>Or</p>
        <p>Sweet potato - 1</p>

        <p class="section-spacer font-bold">LATE EVENING :</p>
        <p>almonds 10-12 - soaked for 2 hrs</p>

        <p class="section-spacer font-bold">DInner :</p>

        <p>Stir fry veg + paneer - 100 gm</p>
        <p>
          1 Bowl Stir fried veggies with paneer - 70 gm Stir fry veggies (
          brocollli , baby corn, mushroom, capsicum, onion, tomato, beans )
        </p>
        <p>Or</p>

        <p>Oats + suji uttapam + veg sambar + chutney - coconut</p>
        <p>Or</p>
        <p>
          Moong dal chilla - add palak + cabbage + onion + tomato to the batter
          + green chuteny
        </p>

        <p class="section-spacer">
          <span class="font-bold">LATE NIGHT :</span>
          <span>makhana - 1/2 bowl</span>
        </p>
        <p>Or</p>
        <p>Peanut butter - 1 spoon + 1/2 apple</p>
        <p>Or</p>
        <p>Papaya</p>

        <p class="section-spacer font-bold">BED TIME :</p>
        <p>
          1 glass warm water + saunf ajwain powder - 1 tsp ( roat saunf and
          ajwain and make powder )
        </p>

        <p class="section-spacer font-bold">INFUSED WATER :</p>
        <p>
          1 llitre water + cinnamon - 1/2 inch + mint 4-5 leaves - make this
          water in morning and finish by 5.00 pm
        </p>
      </div>
    </div>
  </body>
</html>
