<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <strong>Click to Dowonlaod PDF</strong> -->
    <br />
    <!-- <button>
      <a href="http://localhost:3000/download">
        Download
      </a>
    </button> -->
    
    
  </body>
</html>
