<% for( let i = 0; i < 50; i++ ) { %>						
    <tr style="height: 50px">
        <td style="text-align: left !important;">Poha Corn 18 kg</td>
        <td>No</td>
        <td>1</td>
        <td>30.00</td>
        <td>Yes</td>
    </tr>
<% } %>